body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    overflow: hidden;
}
.container {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}